table {
    width: 90%;
    align-self: auto;
    max-width:100%;
    margin: 0 auto;
    padding: 5px;
   
}

tr {
    text-align: left;
    
}
td, h5, th {
    color: white;
    border-bottom: solid gray 1px
}

th {
    font-size: 0.8em
}

td hover {
    color: transparent;
    border-bottom: solid gray;
}