body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-style ul {
  width: 90%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-content: center;
}

.nav-style li {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 15px;
  outline: 0;
  padding: 10px;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: #075157
  
}

p,a {
  color: white;
  text-decoration: none !important;
  padding: 0%;
  margin: 0%
}


header {
  display: flex
}

.logo {
  width: 60px;
  height: 60px;
}
